@import url('https://fonts.googleapis.com/css?display=swap&family=Bree+Serif|IBM+Plex+Mono|Roboto:400,500,700');
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);

body {
  --font-heading: 'Bree Serif', serif;
  --font-text: 'Roboto', sans-serif;
  --font-monospace: 'IBM Plex Mono', monospace;
}
